#navigation{
	width:140px
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}

#grid{
	position:absolute;
	margin-top:-401px;
	margin-left:-1px;
	padding:0px;
}

#arrow{
	margin-top:-400px;
	padding:0;
	position:absolute;
	pointer-events:none;
}

#canvas{
	vertical-align: bottom;
	position:relative;
	display: block;
}

#content{
	background-color:gray;
	height:350px;
	position:relative;
	border: solid;
	border-width: 1px;
}

.tdstyle{
	padding:0px;	
}

.blackTurn{
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
}

.redTurn{
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
}

.checkerPiece{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#draggable {
    width: 150px;
    height: 150px;
    background: #ccc;
  }
